*{
  font-family: Oxy, Arial, Helvetica, sans-serif;
}

.banner{ 
    background-image: 
    url(
  "../../assets/banner-blur.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:30vmin
    
}